{% extends 'base.html' %}

{% block title %}公开课列表 - 慕学在线网{% endblock %}

{% block nav_course %}
    <li class="active">
        <a href="{% url 'course:course_list' %}">
            公开课
            <img class="hot" src="/static/images/nav_hot.png">
        </a>
    </li>
{% endblock %}

{% block custom_crumbs %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'course:course_list' %}">公开课</a></li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="wp">
            <div class="list" style="margin-top:0;">
                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="{% ifequal sort '' %}active{% endifequal %}">
                                <a href="?sort=">最新 </a>
                            </li>
                            <li class="{% ifequal sort 'hot' %}active{% endifequal %}">
                                <a href="?sort=hot">最热门</a>
                            </li>
                            <li class="{% ifequal sort 'students' %}active{% endifequal %}">
                                <a href="?sort=students">参与人数</a>
                            </li>
                        </ul>
                    </div>
                    <div id="inWindow">
                        <div class="tab_cont " id="content">
                            <div class="group_list">

                                {% for course in page_courses.object_list %}
                                    <div class="box">
                                        <a href="course-detail.html">
                                            <img width="280" height="350" class="scrollLoading"
                                                 src="{{ MEDIA_URL }}{{ course.image }}"/>
                                        </a>
                                        <div class="des">
                                            <a href="course-detail.html">
                                                <h2>{{ course.name }}</h2>
                                            </a>
                                            <span class="fl">时长：<i class="key">{{ course.course_times }}</i></span>
                                            <span class="fr">学习人数：{{ course.students }}&nbsp;&nbsp;</span>
                                        </div>
                                        <div class="bottom">
                                            <a href="course-detail.html"><span
                                                    class="fl">来自{{ course.course_org.name }}</span></a>
                                            <span class="star fr notlogin" data-favid="15">
                                        {{ course.fav_nums }}
                                    </span>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="pageturn">
                                <ul class="pagelist">

                                    {% load i18n %}
                                    {% if page_courses.has_previous %}
                                        <li class="long">
                                            <a href="?{{ page_courses.previous_page_number.querystring }}"
                                               class="prev">&lsaquo;&lsaquo; {% trans "上一页" %}</a>
                                        </li>
                                    {% endif %}
                                    {% for page in page_courses.pages %}
                                        {% if page %}
                                            {% ifequal page page_courses.number %}
                                                <li class="active"><a href="javascript:void(0);">{{ page }}</a></li>
                                            {% else %}
                                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                            {% endifequal %}
                                        {% else %}
                                            <li class="none"><a href="javascript:void(0);">...</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_courses.has_next %}
                                        <li class="long">
                                            <a href="?{{ page_courses.next_page_number.querystring }}"
                                               class="next">{% trans "下一页" %} &rsaquo;&rsaquo;</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right layout">
                    <div class="head">热门课程推荐</div>
                    <div class="group_recommend">

                        {% for course in hot_courses %}
                            <dl>
                                <dt>
                                    <a target="_blank" href="">
                                        <img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                    </a>
                                </dt>
                                <dd>
                                    <a target="_blank" href=""><h2>{{ course.name }}</h2></a>
                                    <span class="fl">难度：<i class="key">{{ course.get_degree_display }}</i></span>
                                </dd>
                            </dl>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}